# Specifying exact versions to resolve compatibility issues
ipykernel>=6.14
jupyter-client>=7.0.0
jupyter-core>=4.12,!=5.0.*
prompt-toolkit>=3.0.30
traitlets>=5.4

# Common data science packages
numpy
pandas
matplotlib
scipy
seaborn

# Jupyter Notebook specific packages
notebook
jupyterlab

# Additional useful packages
scikit-learn
statsmodels
requests
beautifulsoup4
lxml
